.infos {
    margin-top: 40px;
}

.infos h1 {
    font-size: 32px;
}

.infos .cabecalho {
    text-align: center;
}

.infos .cabecalho img {
    margin: 30px;
    max-width: 80%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 3px 1px 6px -4px rgb(58, 56, 56);
}

.total .infos p {
    font-size: 18px;
    margin-bottom: 15px;
}

.infos .nomeFruta {
    cursor: pointer;
}

.infos .recompensasShow {
    width: 100%;
    height: 250px;
    display: grid;
    gap: 10px;
    margin-bottom: 15px;
    grid-template-columns: repeat(6, 1fr);
}

.total .infos .recompensasShow .imgRecompensa {
    max-height: 100%;
    object-fit: contain;
}

@media (max-width: 1065px) {
    .infos {
        padding: 5px;
    }
}

@media (max-width: 1060px) {
    .infos .recompensasShow {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }
}