@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  color: rgb(32, 27, 27);
}